<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="news">
            <ion-icon name="information"></ion-icon>
            <ion-label>News</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="jobs">
            <ion-icon name="search"></ion-icon>
            <ion-label>Find Jobs</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="services">
            <ion-icon name="card"></ion-icon>
            <ion-label>My Services</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>